@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

h2,
h3,
h4,
h5,
h6,
p,
a{
    font-family: "Roboto Slab", sans-serif;
}

h2,
h3,
h4,
h5,
h6{
    font-weight: 400;
    text-align: center;
}

/*-------------------------------Wrappers*/

.wrapper-red{
    width: 100%;
    background-color: #951B06;
    margin: 0; 
}

.wrapper-navy{
    background-color: #2A219C;
    color: #fff;
    width: 100%;
    margin: 0;
    padding: 0 10%;
    
}

.wrapper-maroon{
    background-color: #8F254F;
    width: 100%;
    margin: 0;
    padding: 0 10%;
}

.wrapper-white{
    width: 100%;
    background-color: #fff; 
    margin: 0;
    padding: 0 10%;
}

.wrapper-ivory{
    width: 100%;
    background-color: #fffef2; 
    margin: 0;
    padding: 0 10%;
}

/*-------------------------------Header*/

.logo {
    margin-top: 10px;
    margin-bottom: 20px;
    font-family: "Playfair Display", sans-serif;
}



.logo-music{
    color: #951B06;
    padding: 0;
}

.col-12{
    padding: 0;
}
/*-------------------------------Nav/Social*/

.col-6, 
.md-col-3{
        padding: 0;
    }

#nav{
    margin: 0 10%;
    width: 80%;
}

#nav li{
    font-size: 14px;
}

.menuitem{
    height: 60px;
    text-align: center;
    background-color: #951B06;
}

.menuitem a{
    width: 100%;
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    height: 60px;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/*------------------------------- Fade*/

.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background-color: #bf260b;
    color: #fff;
}

/*------------------------------- Carousel*/

.carousel-item{
    height: 400px;
}

.carousel-black{
    color: #000;
}

/*------------------------------- Latest Products*/

img{
    margin: 0;
    padding: 0;
}

.latest-products h3{
    margin: 20px;
}

.latest-products{
    margin: 10px 10px 10px 0;
    text-align: center;
}

.latest-products img{   
    height: 250px;
    width: 100%; 
    padding: 10px 10px 10px 0;
}

/*------------------------------- Bio*/

.bio h3{
    margin: 20px;
}

.bio p{
    margin-bottom: 30px;
}
/*------------------------------- Google Map Preview*/
.google-map-preview iframe{
    width: 100%;
    height: 500px; 
    margin: 0;
}


/*------------------------------- Footer*/

.container-fluid{
    margin: 0;
    padding: 20px 10%;
    text-align: center;
}

.container-fluid p{
    font-weight: 600;
}

.footer-heading{
    margin-left: 0;
    padding: 0;
    color: #fff;
}

.social-links li a i{
    color: #fff;
    background-color: #000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    margin: auto 0;
    padding: 12px 0;
    line-height: 7px;
    
}

.social-links i:hover{
    color: #bf260b;
} 

/*------------------------------- Rental*/

.rental-features{
    margin: 50px 0;
    text-align: center;
}

.rental-features h3, h5, p {
    margin-bottom: 20px;
}

.rental-features p:last-of-type{
    margin-bottom: 0;
}

.rental-details{
    padding: 70px 0;
}

.rental-features img{
    width: 100%;
    padding: 10px;
    margin-bottom: 25px;
}

.rental-feature-odd img{
    border-radius: 0 50%;
}

.rental-feature-even img{
    border-radius: 50% 0;
}



/*------------------------------- Media Queries*/

@media (max-width: 767px){

    .wrapper-ivory{
    width: 100%;
    background-color: #fffef2; 
    padding: 0;
    }

    .logo{
        text-align: center;
    }

    .carousel-item{
    height: 250px;
    }

    .product-image img{   
    height: 250px;
    width: 100%; 
    padding: 0;
    }

    .bio p{
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 3%;
    }

    .rental-features img{
    padding: 20px;
    }

    .rental-feature-odd img{
    border-radius: 50% 50%;
    }

    .rental-feature-even img{
    border-radius: 50% 50%;
    }
    
    .rental-details{
    padding: 30px 20px;
}
}