@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

/*-------------------------------Wrappers*/

.wrapper-red{
    width: 100%;
    background-color: #951B06;
    
}

.wrapper-white{
    width: 100%;
    background-color: #fff; 
    padding: 0 10%;
}

.wrapper-ivory{
    width: 100%;
    background-color: #fffef2; 
    padding: 0 10%;
}

/*-------------------------------Header*/

h1 {
    margin-bottom: 20px;
    font-family: "Playfair Display", sans-serif;
}

h2,
h3,
h4,
h5,
h6{
    font-family: "Roboto Slab", sans-serif;
    font-weight: 400;
}

.logo-music{
    color: #951B06;
    padding: 0;
}


/*-------------------------------Nav/Social*/

.col-3{
    padding: 0;
}

#nav{
    margin: 0 10%;
    width: 80%;
}

#nav li{
    font-size: 14px;
}

.menuitem{
    height: 60px;
    text-align: center;
    background-color: #951B06;
}

.menuitem a{
    width: 100%;
    padding-top: 10px;
    text-decoration: none;
    font-size: 20px;
    color: #fff;
    height: 60px;
    font-family: "Roboto Slab", sans-serif;
}

.list-inline-item:not(:last-child) {
    margin-right: 0;
}

/*------------------------------- Fade*/

.hvr-fade:active, .hvr-fade:focus, .hvr-fade:hover {
    background-color: #bf260b;
    color: #fff;
}

/*------------------------------- Footer*/

.container-fluid{
    margin: 0;
    padding: 10px 10%;
}

.container-fluid p{
    font-weight: 600;
}

.footer-heading{
    margin-left: 0;
    padding: 0;
    color: #fff;
}



.social-links li a i{
    color: #fff;
    background-color: #000;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    text-align: center;
    margin: auto 0;
    padding: 12px 0;
    line-height: 7px;
}

.social-links i:hover{
    color: #bf260b;
} 

/*------------------------------- Carousel*/

.carousel-item{
    height: 400px;
}

.carousel-black{
    color: #000;
}

/*------------------------------- Media Queries*/

@media (max-width: 767px){
    .footer-heading,
    .social-links,
    .address,
    h1{
        text-align: center;
    }

    .wrapper-ivory{
    width: 100%;
    background-color: #fffef2; 
    padding: 0;
    }

    .carousel-item{
    height: 250px;
    }
}